* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle, rgb(174, 238, 179) 0%, rgba(148, 187, 233, 1) 100%);
}

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding: 2rem;
}

.box {
    height: auto;
    min-height: 80vh;
    margin-top: 20px;
    border-radius: 2rem;
    background: linear-gradient(#94ec92 0%, #5fc3e4 100%);
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(255, 254, 254, 0.989);
}

.sec1 {
    height: auto;
    padding: 2rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.instruction {
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    font-size: 1.3rem;
    color: white;
    padding: 3rem;
}

#operand1,
#operand2,
#operator {
    padding: 1.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    color: white;
}

.sec2 {
    height: auto;
    padding: 2rem;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#option1,
#option2,
#option3,
#option4 {
    padding: 1rem 2rem;
    color: rgba(100, 142, 220, 0.989);
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

#result {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(21, 21, 21);
    padding: 1rem 3rem;
    color:antiquewhite;
    background-color:transparent;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .box {
        margin-top: 10px;
    }

    .instruction {
        font-size: 1rem;
        padding: 0.5rem;
    }

    #operand1,
    #operand2,
    #operator {
        padding: 1rem;
        font-size: 1rem;
    }

    #option1,
    #option2,
    #option3,
    #option4 {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    #msgbox {
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        margin-top: 5px;
    }
}
